---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
    <div class="flex min-h-[100vh] flex-col items-center justify-center gap-4">
        <h1 class="text-font-accent text-5xl">Alchemytics</h1>
        <h2 class="text-3xl">Настоящая алхимия данных</h2>
    </div>
</BasicLayout>
