---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Место, где создается аналитика ~ Alchemytics</title>
    </head>
    <body class="bg-background text-font-primary">
        <div class="flex min-h-[100vh] flex-col items-center justify-center gap-4">
            <h1 class="text-font-accent text-5xl">Alchemytics</h1>
            <h2 class="text-3xl">Место, где создается аналитика</h2>
        </div>
    </body>
</html>
