---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Настоящая алхимия данных ~ Alchemytics</title>
    </head>
    <body class="bg-background text-font-primary">
        <div class="flex min-h-[100vh] flex-col items-center justify-center gap-4">
            <h1 class="text-5xl text-font-accent">Alchemytics</h1>
            <h2 class="text-3xl">Настоящая алхимия данных</h2>
        </div>
    </body>
</html>
