---

---

<nav class="flex w-full flex-row justify-between gap-16">
    <div class="my-auto">ICON</div>
    <div class="my-auto flex max-w-xl grow flex-row justify-between">
        <div>Ref 1</div>
        <div>Ref 2</div>
        <div>Ref 3</div>
    </div>
    <div>
        <img class="h-8 w-8 object-contain" src="/icons/github.svg" alt="Alchemytics Repo" />
    </div>
</nav>
