---
import "../styles/global.css";

import NavigationBar from "../components/NavigationBar.astro";

const { title } = Astro.props;
---

<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} ~ Alchemytics</title>
    </head>
    <body class="bg-background text-font-primary m-4">
        <NavigationBar />
        <slot />
    </body>
</html>
