---
import "../styles/global.css";
---

<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Настоящая алхимия данных ~ Alchemytics</title>
    </head>
    <body class="bg-background text-font-primary">
        <slot />
    </body>
</html>
